.menu {
    nav  {
        display: grid;
        margin: 0 30px 0 30px;
        grid-template: 50px / 200px 224px 181px 205px 153px 147px;
    }
    &__item {
        padding-top: 10px;
        text-align: center;
        cursor: pointer;
        a {
            padding: 5px 10px 10px 10px;
            font-size: 18px;
            font-weight: 700;
            color: var(--color-second);
        }
        &:hover {
            a {
                color: var(--color-white);
                background-color: var(--color-second);
            }
        }
        &-subMenu {
            display: none;
            flex-direction: column;
            position: relative;
            top: 8px;
            left: 26px;
            width: 230px;
            border: 1px solid var(--color-second);
            background-color: var(--color-white);
            text-align: left;
            box-shadow: 2px 2px 10px var(--color-second);
            z-index: 1;
            &.active {
                display: flex;
            }
        }
        &-link {
            display: block;
            color: var(--color-second);
            background-color: #fff;
            a { 
                display: block;
                font-size: 14px;
                &:hover {
                    text-shadow: 2px 2px 10px var(--color-second);
                    // text-decoration: underline;  
                    }
            }
        }
    }
}